form label {
	width: 100%;
	padding: .25rem;
	gap: .25rem;
	border-radius: 10px;
	background-color: var(--inputBg);
}

form label i {
	width: 1.5rem;
	height: 1.5rem;
	background-size: cover;
	user-select: none;
}

form label input {
	width: calc(100% - 4.5rem);
	margin-right: auto;
	color: var(--text);
	border: none;
	background-color: transparent;
	box-sizing: border-box;
}

form label:hover {
	outline: 1px solid #7f7f7f;
}

form label input:focus {
	outline: none;
}

form label .email {
	background-image: url("../../../public/assets/mail.png");
}

form label .username {
	background-image: url("../../../public/assets/user.png");
}

form label .password {
	background-image: url("../../../public/assets/password.png");
}

form label .check {
	background-image: url("../../../public/assets/check.png");
}

form label .error {
	background-image: url("../../../public/assets/error.png");
}

form label .eye {
	user-select: none;
	background-image: url("../../../public/assets/eye.png");
}