.chat {
  margin-left: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  background-color: var(--containersBg);
  border-radius: 2%;
  width: 20%;
}

@media (max-width: 1000px) {
  .chat {
    display: none;
  }
}

.chat p {
  margin-right: auto;
}

.chat li {
  overflow-y: auto;
}

.chat ul {
  word-wrap: break-word;
  font-size: small;
}

.inputWrap {
  display: flex;
  margin-top: auto;
}

.inputWrap input {
  display: flex;
  color: white;
  background-color: var(--containersBg);
  border: 1px solid #949494;
  border-radius: 5px;
  height: 25px;
  font-size: small;
}

.inputWrap img {
  height: 20px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  margin: auto;
}