.chat {
  display: flex;
  flex-direction: column;
  background-color: var(--containersBg);
  border-radius: 2%;
  padding: 1%;
  margin: auto;
  width: 85%;
  height: 20%;
  flex: .2;
  order: 3;
  font-size: medium;
}

.chat p {
  margin-right: auto;
}

.chat li {
  overflow-y: auto;
  overflow-anchor: auto;
  scrollbar-width: thin;
  scrollbar-color: #23272f black;
  scrollbar-gutter: stable;
}

.chat ul {
  word-wrap: break-word;
  font-size: small;
}

.inputWrap {
  display: flex;
  margin-top: auto;
}

.inputWrap input {
  display: flex;
  color: white;
  background-color: var(--containersBg);
  border: 1px solid #949494;
  border-radius: 5px;
  height: 25px;
  font-size: small;
  width: 100%;
}

.inputWrap img {
  height: 20px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  margin: auto;
}