.button {
	border-radius: .5rem;
	background-color: #3692e7;
	border: none;
	color: white;
	cursor: pointer;
	font-size: large;
}

.button.confirm {
	background-color: #2ecc71;
}

.button.cancel {
	background-color: #e64b3b;
}

.button:hover {
	background-color: #7aa8d3;
}

.button.confirm:hover {
	background-color: #2ecc71;
}

.button.cancel:hover {
	background-color: #e64b3b;
}