.play {
  display: inherit;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
}

.boardLayout,
.blackLayout {
  margin-left: auto;
  margin-right: auto;
  display: inherit;
  flex-direction: column;
  width: 40%;
  gap: 1%;
}

@media (max-width: 1200px) {

  .boardLayout,
  .blackLayout {
    width: 55%;
  }
}

@media (max-width: 1000px) {

  .boardLayout,
  .blackLayout {
    width: 85%;
  }
}

@media (max-width: 500px) {

  .boardLayout,
  .blackLayout {
    width: 90%;
  }
}

a .blackLayout {
  flex-direction: column-reverse;
}

.soundToggle {
  margin: 0.5rem;
}

.soundToggle img {
  width: 2rem;
  height: 2rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  display: flex;
  margin: auto;
}

.loaderContent {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border: 3px solid #bab9b9;
  border-radius: 2%;
  background-color: #1f1b25;
  margin: auto;
  padding: 5rem;
}

.dots {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 1.5rem;
}

.loadingDot {
  width: 3rem;
  height: 3rem;
  background-color: #bab9b9;
  border-radius: 50%;
  animation: loading 0.75s infinite alternate;
}

.loadingDot:nth-child(2) {
  animation-delay: 100ms;
}

.loadingDot:nth-child(3) {
  animation-delay: 200ms;
}

@keyframes loading {
  100% {
    translate: 0 -1rem
  }
}