.play-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.play-container .board-container {
	width: 20rem;
	height: 25rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.play-container .board-container.blackL {
	flex-direction: column-reverse;
}

.play-container .board-container .row {
	display: flex;
	width: 100%;
	padding: .2rem;
}

.play-container .moves-container {
	height: 11.5rem;
	width: 20rem;
	display: flex;
	flex-direction: column;
	margin: auto auto 1rem auto;
}

.play-container .moves-container .table {
	width: 100%;
	height: calc(100%-4rem);
	margin: auto auto 1rem auto;
}

.play-container .moves-container .button {
	width: 70%;
	height: 3rem;
	margin: auto;
}

.play-container .chat {
	width: 20rem;
	height: 10rem;
	margin: auto auto 1rem auto;
}

.dots {
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 1.5rem;
}

.loading-dot {
	width: 3rem;
	height: 3rem;
	background-color: #bab9b9;
	border-radius: 50%;
	animation: loading 0.75s infinite alternate;
}

.loading-dot:nth-child(2) {
	animation-delay: 100ms;
}

.loading-dot:nth-child(3) {
	animation-delay: 200ms;
}

@keyframes loading {
	100% {
		translate: 0 -1rem
	}
}

@media (min-width: 640px) {
	.play-container .board-container {
		width: 35rem;
		height: 40rem;
	}

	.play-container .moves-container {
		width: 35rem;
		height: 11.5rem;
	}

	.play-container .chat {
		width: 35rem;
		height: 10rem;
	}
}

@media (min-width: 1024px) {
	.play-container {
		flex-direction: row;
		margin: auto;
	}

	.play-container .board-container {
		width: 25rem;
		height: 28rem;
		order: 2;
	}

	.play-container .moves-container {
		height: 20rem;
		width: 20rem;
		margin: auto;
		order: 3;
	}

	.play-container .chat {
		height: 20rem;
		width: 20rem;
		margin: auto;
		order: 1;
	}
}