main .play-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	gap: 16px;
}

main .play-container .table {
	height: 200px;
	width: 350px;
	order: 2;
	margin: auto;
}

main .play-container .row {
	display: flex;
}

main .play-container .board-container {
	margin: auto;
	order: 1;
	display: flex;
	flex-direction: column;
}

main .play-container .board-container.black {
	margin: auto;
	order: 1;
	display: flex;
	flex-direction: column-reverse;
}

main .play-container .table .current {
	background-color: #74b3d2;
}

main .play-container .chat {
	margin: auto;
	order: 3;
	height: 200px;
	width: 350px;
}

.dots {
	display: flex;
	flex-direction: row;
	margin: auto;
	gap: 1.5rem;
}

.loading-dot {
	width: 3rem;
	height: 3rem;
	background-color: #bab9b9;
	border-radius: 50%;
	animation: loading 0.75s infinite alternate;
}

.loading-dot:nth-child(2) {
	animation-delay: 100ms;
}

.loading-dot:nth-child(3) {
	animation-delay: 200ms;
}

.winner {
	margin: auto;
	font-size: large;
}

.result {
	margin: auto;
}

@keyframes loading {
	100% {
		translate: 0 -1rem
	}
}

@media (min-width: 600px) {
	main .play-container .table {
		height: 250px;
		width: 550px;
	}

	main .play-container .chat {
		height: 250px;
		width: 550px;
	}
}

@media (min-width: 1024px) {
	main .play-container {
		flex-direction: row;
	}

	main .play-container .chat {
		order: 1;
		width: 300px;
		height: 500px;
	}

	main .play-container .board-container {
		order: 2;
	}

	main .play-container .table {
		order: 3;
		width: 300px;
		height: 500px;
	}
}