.layout {
  display: inherit;
  flex-direction: column;
}

.board {
  border-radius: 5px;
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(8, 5rem);
  grid-template-rows: repeat(8, 5rem);
}

.sideWhite {
  transform: rotate(0);
}

.sideBlack {
  transform: rotate(0.5turn);
}

.sideBlack img {
  transform: rotate(-0.5turn);
}

.board img {
  width: 90%;
  height: 90%;
  margin: auto;
  cursor: pointer;
}