.board {
	width: 35rem;
	height: 35rem;
	display: flex;
	flex-wrap: wrap-reverse;
	background-image: url("../../../public/assets/background.png");
	background-size: cover;
	cursor: pointer;
}

.board-square {
	width: 12.5%;
	height: 12.5%;
	font-size: xx-large;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.selected {
	background-color: rgb(178, 223, 237);
}

.legal:hover {
	box-shadow: inset 0px 0px 0px 5px rgb(130, 151, 105);
}

.piece-selection-container {
	width: 35rem;
	height: 35rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	/* z-index to cover the board. */
	z-index: 1000;
}

.piece-selection-container div {
	background-color: rgb(192, 192, 192, 0.7);
	width: 12.5%;
	height: 12.5%;
	cursor: pointer;
	background-size: cover;
}

.piece-selection-container div:hover {
	background-color: #b1a7fc;
}

.white-pawn {
	background-image: url("../../../public/assets/pieces/white/pawn.png");
}

.white-knight {
	background-image: url("../../../public/assets/pieces/white/knight.png");
}

.white-bishop {
	background-image: url("../../../public/assets/pieces/white/bishop.png");
}

.white-rook {
	background-image: url("../../../public/assets/pieces/white/rook.png");
}

.white-queen {
	background-image: url("../../../public/assets/pieces/white/queen.png");
}

.white-king {
	background-image: url("../../../public/assets/pieces/white/king.png");
}

.black-pawn {
	background-image: url("../../../public/assets/pieces/black/pawn.png");
}

.black-knight {
	background-image: url("../../../public/assets/pieces/black/knight.png");
}

.black-bishop {
	background-image: url("../../../public/assets/pieces/black/bishop.png");
}

.black-rook {
	background-image: url("../../../public/assets/pieces/black/rook.png");
}

.black-queen {
	background-image: url("../../../public/assets/pieces/black/queen.png");
}

.black-king {
	background-image: url("../../../public/assets/pieces/black/king.png");
}