.board {
  display: flex;
  width: 40rem;
  height: 40rem;
  flex-direction: column;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.selected {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: rgb(255, 255, 102, 0.45);
}

.selected img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.ranks {
  font-size: 1rem;
  font-weight: bold;
}

.sideBlack .ranks {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.sideBlack .ranks li {
  transform: scaleY(-1);
}

.sideWhite .ranks li:nth-child(1n) {
  color: var(--black);
}

.sideWhite .ranks li:nth-child(2n) {
  color: var(--white);
}

.sideBlack .ranks li:nth-child(1n) {
  color: var(--white);
}

.sideBlack .ranks li:nth-child(2n) {
  color: var(--black);
}

.ranks li {
  padding-left: 2px;
  height: 5rem;
}

.files {
  bottom: 0;
  display: flex;
  flex-direction: row;
  z-index: 100;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
}

.sideBlack .files {
  top: 0;
  bottom: auto;
}

.sideBlack .files li {
  transform: rotate(180deg);
}

.files li:nth-child(1n) {
  color: var(--white);
}

.sideBlack .files li:nth-child(1n) {
  color: var(--black);
}

.files li:nth-child(2n) {
  color: var(--black);
}

.sideBlack .files li:nth-child(2n) {
  color: var(--white);
}

.files li {
  padding-left: 4.25rem;
  width: 5rem;
}