.board {
  position: relative;
  display: flex;
  width: 100%;
  aspect-ratio: 1 / 1;
  flex-direction: column;
  background-size: cover;
  border-radius: 1%;
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
}

.selected {
  position: absolute;
  display: flex;
  width: 12.5%;
  height: 12.5%;
  background-color: rgb(178, 223, 237);
}

.selected img {
  margin: auto;
  width: 90%;
  height: 90%;
  opacity: 0.4;
}

.availible {
  position: absolute;
  z-index: 900;
  width: 12.5%;
  height: 12.5%;
}

.availible:hover {
  background-color: rgb(130, 151, 105, 40%);
}

.availible:after {
  position: absolute;
  content: "";
  top: 40%;
  right: 40%;
  background-color: rgb(130, 151, 105, 70%);
  width: 25%;
  height: 25%;
  z-index: 900;
  border-radius: 50%;
}

.capture {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  z-index: 1000;
  border: 5px solid rgb(130, 151, 105, 70%);
  border-radius: 50%;
}

.capture:hover {
  background-color: rgb(130, 151, 105, 40%);
}

.ranks {
  z-index: 1200;
  width: 1rem;
  height: 100%;
  font-weight: bold;
  font-size: 50%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.ranks li:nth-child(1n) {
  color: var(--black);
}

.ranks li:nth-child(2n) {
  color: var(--white);
}

.sideBlack .ranks li:nth-child(1n) {
  color: var(--white);
}

.sideBlack .ranks li:nth-child(2n) {
  color: var(--black);
}

.sideBlack .ranks {
  flex-direction: column-reverse;
}

.ranks li {
  padding-left: 2px;
  height: 12.5%;
}

.files {
  width: 100%;
  font-size: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.files li:nth-child(1n) {
  color: var(--white);
}

.files li:nth-child(2n) {
  color: var(--black);
}

.sideBlack .files li:nth-child(1n) {
  color: var(--black);
}

.sideBlack .files li:nth-child(2n) {
  color: var(--white);
}

.sideBlack .files {
  flex-direction: row-reverse;
}

.files li {
  padding-left: 10.5%;
  width: 12.5%;
}

.lastMove {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  background-color: rgb(178, 223, 237, 0.8);
}