.timer {
  display: flex;
  margin: auto;
  font-size: xx-large;
}

.active {
  display: flex;
  margin: auto;
  font-size: xx-large;
  background-color: rgb(130, 151, 105, 0.3);
}

span {
  text-align: center;
  width: 1.3rem;
}