.timer,
.active {
  display: flex;
  margin-left: auto;
  font-size: x-large;
}

.active {
  background-color: rgb(130, 151, 105, 0.3);
  border-radius: 8%;
  text-align: center;
}

.digit {
  margin: auto;
  aspect-ratio: 1 / 1;
}