.profile-container section {
	margin: auto auto auto auto;
	display: flex;
	font-size: larger;
	background-color: var(--containersBg);
	padding: 16px;
	width: 95%;
	align-items: center;
	justify-content: center;
	gap: 100px;
}

.profile-container .table {
	margin: 16px auto auto auto;
	height: 65%;
	width: 95%;
}

.profile-container .table .row {
	height: 80px;
}

.profile-container .table .row:hover {
	background-color: #74b3d2;
}

.profile-container .table a.row:hover {
	color: var(--text);
}

.profile-container .table .row .green {
	color: green;
}

.profile-container .table .row .red {
	color: red;
}

@media (min-width: 600px) {
	.profile-container .table {
		width: 600px;
	}

	.profile-container section {
		width: 600px;
	}
}