@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popupContainer {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.popupContent {
  height: 5rem;
  width: 25rem;
  background-color: #1f1b25;
  border: 3px solid #949494;
  position: fixed;
  right: 0;
  border-radius: 15px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  animation: popup 0.5s;
  font-size: x-large;
}