.contentContainer {
  display: inherit;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  text-align: center;
  gap: 2rem;
}

.lobbyContainer {
  gap: 1rem;
  display: inherit;
  flex-direction: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
}


.filters {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 7rem 7rem);
  grid-template-rows: 2rem, 2rem;
}

table {
  border-collapse: collapse;
}

table tr:hover {
  background-color: #dddddd50;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
  margin: auto;
}

table th {
  background-color: #1f1b25;
  padding: 1rem;
}

.playersCounter {
  position: absolute;
  right: 0;
  margin: 0.5rem;
}

.playerStatus {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.playerStatus img {
  width: 1.5rem;
  height: 1.5rem;
}