.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: large;
}

.home h1 {
  margin: auto;
  font-size: xx-large;
}

.rooms {
  display: flex;
  flex-direction: column;
  background-color: var(--containersBg);
  border-radius: 15px;
  font-size: small;
  margin: auto;
  padding: 1%;
  width: 95%;
  min-height: 50%;
}

.rooms .headRow {
  width: 100%;
  flex: .1;
  text-align: center;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.roomsTable {
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  overflow-y: auto;
  overflow-anchor: auto;
  scrollbar-width: thin;
  scrollbar-color: #23272f black;
  scrollbar-gutter: stable;
}

.rooms .row {
  display: flex;
  min-height: 20%;
}

.roomsTable .row:hover {
  background-color: #dddddd50;
  cursor: pointer;
}

.rooms .col {
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  flex: .25;
}

.home button {
  margin: auto;
  width: 90%;
  height: 5%;
}

.playersCounter {
  margin-right: auto;
  margin-left: 0.5rem;
  font-size: small;
}

@media (min-width: 640px) {
  .rooms {
    width: 85%;
    min-height: 60%;
  }

  .rooms .row {
    min-height: 15%;
  }

  .home button {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  .rooms {
    width: 80%;
  }

  .rooms .row {
    min-height: 15%;
  }

  .home button {
    width: 40%;
  }
}