main dialog {
	width: 95%;
}

main .table {
	width: 95%;
	height: 400px;
	margin: auto auto 16px auto;
}

main .button {
	width: 320px;
	margin: 0 auto auto auto;
	height: 32px;
}

@media (min-width: 500px) {
	main dialog {
		width: 500px;
	}
}

@media (min-width: 640px) {
	main .table {
		width: 640px;
		height: 500px;
	}
}