.contentContainer {
  display: inherit;
  flex-direction: column;
  margin: auto;
  padding: 3rem;
  text-align: center;
  gap: 2rem;
}

.lobbyContainer {
  gap: 2rem;
  display: inherit;
  flex-direction: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center;
}

.filters {
  display: grid;
  text-align: left;
  gap: 2%;
  grid-template-columns: repeat(2, 20% 20%);
  grid-template-rows: 2rem, 2rem;
}

table {
  border-collapse: collapse;
}

table tr:hover {
  background-color: #dddddd50;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
  margin: auto;
}

table th {
  background-color: var(--containersBg);
  padding: 1rem;
}

select {

  font-size: large;
}

button {
  margin: auto;
  height: 5rem;
  width: 20rem;
}