.theme-toggle {
	border: none;
	border-radius: 50%;
	background-color: transparent;
	text-decoration: none;
	height: 100%;
	aspect-ratio: 1/1;
	background-size: cover;
	cursor: pointer;
}

.theme-toggle:hover {
	border: 2px solid white;
}

.day {
	background-image: url("../../../public/assets/light_mode.png");
}

.night {
	background-image: url("../../../public/assets/dark_mode.png");
}