@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.dialog {
  z-index: 1500;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogContent {
  padding: 2rem;
  position: absolute;
  background-color: #1f1b25;
  border: 3px solid #949494;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: popup 0.3s;
  gap: 1.5rem;
}

.box {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: medium;
  align-items: center;
  gap: 1rem;
}

.close {
  background-color: #1f1b25;
  color: rgb(237, 237, 237);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}

.close::before {
  font-weight: 650;
  font-size: 1rem;
  content: "x";
}

.box button {
  width: 15rem;
  height: 3rem;
}