.dialog-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	position: absolute;
	top: 0;
	background-color: rgb(0, 0, 0, .5);
}

.dialog-container .dialog {
	min-width: 20rem;
	min-height: 30rem;
	display: flex;
	flex-direction: column;
	color: var(--text);
	background-color: var(--containersBg);
	margin: auto;
	border-radius: .75rem;
	gap: 1.5rem;
}

.dialog-container .dialog p {
	margin: auto;
	font-size: xx-large;
	font-weight: bold;
}