.table {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	border-radius: 8px;
	background-color: var(--containersBg);
	padding: 16px;
}

.table .t-header {
	height: 24px;
	display: flex;
	font-size: large;
}

.table .t-body {
	height: calc(100% - 48px);
	overflow-y: auto;
}

.table .t-body .row {
	height: 24px;
	display: flex;
	cursor: pointer;
}

.table .col {
	flex: 1;
}

.table .t-body .row:hover {
	background-color: #dddddd50;
}

.table .t-caption {
	font-size: larger;
	font-weight: bold;
}