.table {
	gap: 1.5rem;
	text-align: center;
	border-radius: .5rem;
	background-color: var(--containersBg);
}

.table .t-header {
	height: 1.5rem;
	display: flex;
}

.table .t-body {
	/* Minus header and caption - both 1.5rem */
	height: calc(100% - 3rem);
	overflow-y: auto;
}

.table .t-body .row {
	height: 1.5rem;
	display: flex;
	cursor: pointer;
}

.table .col {
	flex: 1;
}

.table .t-body .row:hover {
	background-color: #dddddd50;
}

.table .t-caption {
	height: 1.5rem;
	font-weight: bold;
}