.moves {
  padding: 1%;
  display: flex;
  flex-direction: column;
  background-color: var(--containersBg);
  border-radius: 3%;
  font-size: medium;
  margin: auto;
  width: 85%;
  height: 20%;
  flex: .2;
  order: 2;
}

.moves .headRow {
  min-height: 15%;
  width: 100%;
  display: flex;
}

.movesTable {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-anchor: auto;
  scrollbar-width: thin;
  scrollbar-color: #23272f black;
  scrollbar-gutter: stable;
}

.movesTable .row {
  min-height: 25%;
  width: 100%;
  display: flex;
}

.movesTable .row .ind,
.headRow .ind {
  flex: 0.15;
}

.movesTable .row .halfmove,
.headRow .halfmove {
  flex: 0.4;
}