form {
	width: 95%;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	margin: auto;
	gap: 32px;
	padding: 16px;
	background-color: var(--containersBg);
}

form section p {
	margin: 5px;
	font-size: small;
}

form .button {
	height: 32px;
	width: 100%;
	margin: auto 0 0 0;
}

form footer {
	font-size: small;
	text-align: center;
}

form .dialog-container .dialog {
	min-width: 320px;
	min-height: 480px;
}

form footer button {
	color: #2f7ac0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

form a {
	color: #2f7ac0;
}

@media (min-width: 640px) {
	form {
		width: 640px;
	}

	dialog form {
		width: 450px;
	}
}