@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container {
  position: fixed;
  width: 40rem;
  height: 40rem;
  /* z-index to cover the board */
  z-index: 100;
  background-color: rgba(192, 192, 192, 0.3);
}

.content {
  margin-left: calc(5*5rem);
  display: grid;
  grid-template-rows: repeat(4, 5rem);
  max-width: 5rem;
  animation: popup 0.2s;
}

.content img:hover {
  background-color: #b1a7fc;
}

.content img {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}