.slider-container {
	/* display: flex; */
	/* flex-direction: column; */
	width: 85%;
}

.slider-container input {
	/* appearance: none; */
	width: 100%;
	background-color: var(--text);
	border-radius: 5%;
}